body {
  margin: 3%;
  font-family: Open Sans, sans-serif;
  font-size: 1rem;
  font-weight: 200;
  line-height: 1.5;
  color: #525f7f;
  text-align: left;
  background-color: #f9f9ff;
}

#config_card{
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 1rem;
  margin: 10px;
  padding: 15px;
  /* width: fit-content; */
}


.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #1D262F;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 1rem;
  margin: 10px;
  margin-left: 0px;
  margin-right: 0%;
  padding: 15px;
  
}

.card>hr {
  margin-right: 0;
  margin-left: 0;
}


table {
  border-collapse: collapse;
}

caption {
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: #8898aa;
  text-align: left;
  caption-side: bottom;
}

th {
  text-align: inherit;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}